extends ../template/layoutLR
block left
	.collection
		a.collection-item(href='#!') menu_1
		a.collection-item.active(href='#!') menu_2
		a.collection-item(href='#!') menu_3
		a.collection-item(href='#!') menu_4
block content
	p MODULE NAME: #{moduleNameLabel}
