<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>公众号测试</title>
        <script src="jquery.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
           var appid="wx6e4c2f790332f816",
		      appsecret="62aa7950604031c4df099658fe13709d";

        	var getAccessToken=function(){
        		//https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=APPID&secret=APPSECRET
        		$.ajax({
        			type: 'GET',
        			jsonp: 'jsonp',
        			url: 'https://api.weixin.qq.com/cgi-bin/token',
        			data: {
        				grant_type: 'client_credential',
        				appid: appid,
        				secret: appsecret
        			},
        			success: function(data){
        				console.log("success get accessToken");
        				console.log(data);
        				console.log(getTicket(accessToken));
        			}
        		});
        	};

        	var getTicket=function(accessToken){
        		//?access_token=ACCESS_TOKEN&type=jsapi
        		$.ajax({
        			type: 'GET',
        			url: 'https://api.weixin.qq.com/cgi-bin/ticket/getticket',
        			data: {
        				access_token: accessToken,
        				type: 'jsapi'
        			},
        			success: function(data){
        				console.log("success get ticket");
        				console.log(data.ticket);
        				return data.ticket;
        			}
        		});
        	};

        	//计算签名：
        	var getSign=function(){
        		//结合ticket,nonceStr,timestamp按sha1算法生成签名；
        	}


        	/*
        	wx.config({
					    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					    appId: 'wx6e4c2f790332f816', // 必填，公众号的唯一标识
					    timestamp: new Date().getTime(), // 必填，生成签名的时间戳
					    nonceStr: 'thisisatest', // 必填，生成签名的随机串
					    signature: '',// 必填，签名，见附录1
					    jsApiList: [] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
					});
					wx.ready(function(){

					});
					wx.error(function(){

					})
					*/
        </script>
    </head>
    <body>
        测试
    </body>
</html>